requests
tqdm
wmi
eel
psutil
pyotp
Pillow

#greenlet==1.1.3
#gevent==22.10.1
#gevent==21.12.0
pycryptodome

playwright==1.31.1
gevent==21.12.0
#
# gevent


SQLAlchemy

#timestring


# pymem
#pyautogui


#pytesseract

comtypes



pyautoit
pynput
# aes-everywhere
# ahk
# ahk[binary]
# python-telegram-bot
# pystray
numpy
# pywebview
# cefpython3
